# Logs
*.log

# Yarn Cache
.yarn/cache
.yarn/*.gz

# Runtime data
pids
*.pid
*.seed
pidfile

# Dependency directories
node_modules
backend/node_modules
frontend/node_modules

# Coverage
coverage/
backend/coverage/

# IDEs
.idea
.vscode

# Project specific
backend/config.json
backend/config.yml
backend/import.csv
backend/private/
backend/backups/
backend/restores/
backend/public/uploads/tickets/
backend/public/uploads/users/
backend/public/uploads/assets/*.*
backend/public/css/app.min.css
backend/public/css/app.css

# Frontend build
frontend/dist/

# Misc
*.bk
*.aws
*.local
*.diff
*.pem
stats.json
dist/
*.heapsnapshot
